.box1{
    background-color:red ;
    height: 50px;
    width: 30%;
    margin:10px;
    display:inline-block;
}
.box2{
    background-color: blueviolet;
    height:50px;
    width:70%;
    margin:10px;
    display:inline-block;
}
.box3{
    background-color:green;
    height:50px;
    width:35%;
    margin:10px;
}
.box4{
    background-color: brown;
    height:50px;
    width:
}

